* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}

.divimg > img {
  width: 150px;
  height: 100px;
  border-radius: 20px;
  transition: 200ms;
}

.divimg > img:hover {
  transform: scale(1.2);
}
.colum {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#imgtext {
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 20px;
  top: 10px;
  font-weight: bold;
}
#exportImg {
  border-radius: 20px;
  transition: 200ms;

  border: 0;
}

#exportImg:hover {
  transform: scale(1.2);
}
