* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
img{
  transition: 200ms;
  border-radius: 20px;
}

img:hover {
  transform: scale(1.1);
}
.colum {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.colum>img{
  width: 400px;
  height: 300px;
}

#imgtext {
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 20px;
  top: 10px;
  font-weight: bold;
}

